/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-container {
  width: 80%;
  margin: auto;
  position: relative;
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
} */

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: rgb(181, 34, 34);
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: block !important;
  border-radius: 50%;
}

.custom-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: -40px;
}

.next {
  right: -40px;
}